@use "sass:map";
@use "../mixins/generate-variables" as *;

$fonts-names: (
  poppins: '"Poppins", sans-serif',
);

$fonts-families: (
  main: map.get($fonts-names, poppins),
);

$fonts-weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

$fonts-sizes: (
  "xs" clamp(0.75rem, 1.5vw, 0.875rem) clamp(1.2rem, 1.8vw, 1.25rem),
  "sm" clamp(0.875rem, 1.8vw, 1rem) clamp(1.3rem, 2.7vw, 1.4rem),
  "base" clamp(1rem, 2vw, 1.125rem) clamp(1.4rem, 2.8vw, 1.7rem),
  "lg" clamp(1.125rem, 3vw, 1.25rem) clamp(1.65rem, 4.2vw, 1.85rem),
  "xl" clamp(1.25rem, 4vw, 1.5rem) clamp(1.75rem, 5.3vw, 2.1rem),
  "2xl" clamp(1.5rem, 5vw, 1.875rem) clamp(2rem, 7.2vw, 2.55rem),
  "3xl" clamp(1.875rem, 6vw, 2.25rem) clamp(2.65rem, 8.6vw, 3.1rem),
  "4xl" clamp(2.25rem, 7vw, 3rem) clamp(3.1rem, 9.8vw, 4.25rem),
  "5xl" clamp(3rem, 8vw, 3.75rem) clamp(4.25rem, 11.3vw, 5.4rem),
  "6xl" clamp(3.75rem, 9vw, 4.5rem) clamp(5.4rem, 13vw, 6.45rem),
  "7xl" clamp(4.5rem, 10vw, 6rem) clamp(6.3rem, 14vw, 8.45rem),
  "8xl" clamp(6rem, 11vw, 8rem) clamp(8.25rem, 15vw, 11.2rem),
  "9xl" clamp(8rem, 12vw, 9rem) clamp(11.2rem, 16.6vw, 12.6rem)
);

$fonts-sizes-names: "xs" "sm" "base" "lg" "xl" "2xl" "3xl" "4xl" "5xl" "6xl"
  "7xl" "8xl" "9xl";

@mixin fonts {
  @include generate-variables($fonts-families, "ff");
  @include generate-variables($fonts-weights, "fw");
  @each $size, $value, $line-height in $fonts-sizes {
    --fs-#{$size}: #{$value};
    --fh-#{$size}: #{$line-height};
  }
}
