@mixin grid(
  $columns: null,
  $rows: null,
  $areas: null,
  $auto-fit: null,
  $auto-fill: null,
  $gap: null,
  $center: false,
  $center-v: false,
  $center-h: false
) {
  display: grid;

  @if $areas {
    grid-template-areas: $areas;
  }
  @if $auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(#{$auto-fit}, 1fr));
  }
  @if $auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(#{$auto-fill}, 1fr));
  }
  @if $columns and not $auto-fit {
    grid-template-columns: $columns;
  }
  @if $rows {
    grid-template-rows: $rows;
  }

  @if $gap {
    gap: $gap;
  }

  @if $center or $center-v {
    align-items: center;
  }
  @if $center or $center-h {
    justify-items: center;
  }
}

@mixin grid-cols($cols) {
  grid-template-columns: $cols;
}

@mixin grid-rows($rows) {
  grid-template-rows: $rows;
}

@mixin auto-fit($minmax, $gap: null, $center: false) {
  @include grid($auto-fit: $minmax, $gap: $gap, $center: $center);
}

@mixin auto-fill($minmax, $gap: null, $center: false) {
  @include grid($auto-fill: $minmax, $gap: $gap, $center: $center);
}

@mixin flex(
  $gap: null,
  $center: false,
  $center-v: false,
  $wrap: false,
  $space-between: false,
  $space-around: false,
  $invert-dir: false
) {
  display: flex;

  @if $invert-dir {
    flex-direction: column;
  }

  @if $center {
    place-items: center;
  }

  @if $wrap {
    flex-wrap: wrap;
  }

  @if $gap {
    gap: $gap;
  }

  @if $center-v {
    justify-content: center;
  }

  @if $space-between {
    justify-content: space-between;
  }

  @if $space-around {
    justify-content: space-around;
  }
}
