@forward "transitions";

@use "sass:math";
@use "../mixins/focus" as f;
@use "../mixins/clr" as c;
@use "../mixins/fs";
@use "../mixins/ff";
@use "../mixins/zi";
@use "../mixins/tran" as t;

::selection {
  @include c.clr-bg(primary);
  @include c.clr-txt(light);
}

body {
  @include c.clr-bg;
  @include c.clr-txt;
  @include ff.ff(main);
  @include fs.fs-base;

  @include t.tran(color background);

  overflow-x: hidden;
}

@for $size-number from 1 through 6 {
  h#{$size-number} {
    @include fs.fs(#{math.abs($size-number - 8)}xl);
  }
}

a {
  @include c.clr-txt(link);
  @include f.focus-effect;
}
