@use "../mixins/tran" as t;

// Fade transition
.fade-enter-active,
.fade-leave-active {
  @include t.tran(opacity);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Slide down
.slide-down-enter-active,
.slide-down-leave-active {
  @include t.tran;
}
.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

// Scale out
.scale-out-enter-active,
.scale-out-leave-active {
  @include t.tran(all, 0.1s);
}

.scale-out-enter-from,
.scale-out-leave-to {
  transform: scale(0);
}

// Pages transition
.page-enter-active,
.page-leave-active {
  @include t.tran(opacity, 0.2s);
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

// Layout transition
.layout-enter-active,
.layout-leave-active {
  @include t.tran(opacity, 200ms);
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}

// Navbar
.nav-enter-active,
.nav-leave-active {
  @include t.tran;
}
.nav-enter-from,
.nav-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
