@use "sass:list";
@use "./strip-unit" as *;

@function split-to-hue-saturation-lightness($clr) {
  $hue-saturation-lightness: strip-unit(hue($clr)) saturation($clr)
    lightness($clr);
  $alpha-value: alpha($clr);
  @if $alpha-value != 1 {
    $hue-saturation-lightness: list.append(
      $hue-saturation-lightness,
      $alpha-value
    );
  }
  @return $hue-saturation-lightness;
}
